<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>calculate 1*2</h1>
    <%= 1*2 %>
    <h1>This is the page</h1>
    <p>Hello guys</p>
    <button>Click Here</button>
</body>
</html>