<%- include("includes/head.ejs") %>
<body>
    <h3>Roll Dice gave the value : <%= value %></h3>
    <% if(value == 6) { %>
        <h2>Nice! RollDice Again</h2>
    <% } %>    
</body>
</html>


    
